* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
  font-size: 18px;
  color: #070707;
  background-color: #fff;
}

.main-container {
    width: 940px;
    margin: 0 auto;
}

header {
    margin-bottom: 104px;
}

nav {
  display: flex;
  justify-content: space-between;
  min-height: 88px;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: #828282;
}

nav a:hover {
    color: red;
}

.active {
  color: #070707;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px auto;
}

h1 {
    font-size: 47px;
}

h2 {
    font-size: 34px;
}

.about-me {
    min-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f6f6f6;
    justify-content: space-evenly;
    text-align: center;
}

.skills {
    min-height: 600px;
    text-align: center;
}

.skills h2 {
    margin: 91px auto 69px;
}

.skills-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 83px auto 110px;
}

.skills-container__item {
    height: 206px;
    width: 166px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.skills-container__item > img {
    width: 88px;
    height: 89px;
}

.skills-container__item .figma-img {
    width: 58px;
}

.portfolio {
    background-color: #f6f6f6;
    align-items: center;
    text-align: center;
    padding-top: 113px;
    padding-bottom: 99px;
}

.portfolio h2 {
    margin-bottom: 47px;
}

.portfolio a {
    color: #070707;
}

.portfolio img {
    width: 936px;
    height: 522px;
    margin-bottom: 45px;
    margin-top: 99px;
}

footer {
    min-height: 620px;
    padding-top: 114px;
}

.footer-container {
    min-height: 380px;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__icon-container {
    width: 342px;
    display: flex;
    justify-content: space-between;
}

.send-message {
    color: #fff;
    background-color: #000;
    height: 42px;
    width: 180px;
    cursor: pointer;
    border: none;
    border-radius: 20px;
}

.send-message:hover {
    background-color: #626262;
}