@font-face {
    font-family: gilroy-bold;
    src: url("../fonts/Gilroy-Bold.ttf");
}
@font-face {
    font-family: gilroy-regular;
    src: url("../fonts/Gilroy-Regular.ttf");
}
@font-face {
    font-family: gilroy-medium;
    src: url("../fonts/Gilroy-Medium.ttf");
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 18px;
    line-height: 22px;
    color: #070707;
    background-color: #fff;
    font-family: gilroy-medium;
}

.main-container {
    max-width: 1445px;
    margin: 0 auto;
}

header {
    max-width: 940px;
    margin: 0 auto;
    margin-bottom: 104px;
}

header img {
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 88px;
    align-items: center;
    border-bottom: 1px solid #000;
}

nav a {
    text-decoration: none;
    color: #828282;
    font-family: gilroy-medium;
    font-weight: 700;
}

nav a:hover {
    color: red;
}

.active {
    color: #070707;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px auto;
}

.header-content p {
    padding-top: 55px;
}

.trigger-btn__wrapper {
    rotate: 270deg;
}

.trigger-btn {
    font-family: gilroy-medium;
    font-weight: 700;
    cursor: pointer;
    border: none;
    background-color: #fff;
    font-size: 16px;
    line-height: 20px;
    color: #828282;
}

.trigger-btn:hover {
    color: red;
}

.choosed {
    color:#000;
}

h1 {
    font-size: 47px;
    line-height: 59px;
    font-weight: 700;
}

h2 {
    font-size: 34px;
    line-height: 42px;
    font-weight: 700;
}

.main-content {
    width: 100%;
    margin: 0 auto;
}

.about-me {
    min-height: 506px;
    text-align: center;
    background-color: #f6f6f6;
}

.about-me h2 {
    padding-top: 120px;
    margin-bottom: 18px;
}

.about-me div {
    min-height: 218px;
    margin-bottom: 107px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.skills {
    min-height: 610px;
    text-align: center;
    max-width: 940px;
    margin: 0 auto;
}

.skills h2 {
    padding-top: 91px;
    margin-bottom: 69px;
}

.skills-description {
    margin-bottom: 83px;
}

.skills-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 110px;
}

.skills-container__item {
    height: 206px;
    width: 166px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.skills-container__item > img {
    width: 88px;
    height: 89px;
}

.skills-container__item .figma-img {
    width: 58px;
}

.stars-container {
    display: flex;
    gap: 9px;
}

.portfolio-container {
    width: 100%;
    background-color: #f6f6f6;
}

.portfolio {
    background-color: #f6f6f6;
    align-items: center;
    text-align: center;
    max-width: 940px;
    margin: 0 auto;
}

.portfolio h2 {
    padding-top: 113px;
    margin-bottom: 47px;
}

.portfolio a {
    color: #070707;
}

.portfolio a:hover {
    color: red;
}

.portfolio p {
    padding-bottom: 99px;
}

.portfolio img {
    margin-bottom: 45px;
    width: 100%;
}

.fashion {
    width: 936px;
    height: 510px;
}

.reebok, .braun {
    width: 936px;
    height: 522px;
}

footer {
    min-height: 622px;
}

.footer-container {
    min-height: 380px;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-container h2 {
    padding-top: 114px;
    margin-bottom: 20px;
}

.footer-description {
    margin-bottom: 30px;
}

.footer__icon-container {
    margin-bottom: 45px;
    width: 342px;
    display: flex;
    justify-content: space-between;
}

.send-message {
    margin-bottom: 86px;
    color: #fff;
    background-color: #000;
    height: 42px;
    width: 180px;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    font-family: gilroy-medium;
    font-weight: 700;
}

.send-message:hover {
    background-color: #626262;
}

.footer-description-end {
    margin-bottom: 123px;
    font-size: 14px;
    line-height: 17px;
}