@font-face {
    font-family: "Gilroy-Medium";
    src: url("./fonts/gilroy-medium.eot"); /* IE 9 Compatibility Mode */
    src: url("./fonts/gilroy-medium.eot?#iefix") format("embedded-opentype"),
    /* IE < 9 */ url("./fonts/gilroy-medium.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./fonts/gilroy-medium.woff") format("woff"),
    /* Firefox >= 3.6, any other modern browser */
      url("./fonts/gilroy-medium.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("./fonts/gilroy-medium.svg#gilroy-medium")
      format("svg"); /* Chrome < 4, Legacy iOS */
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    line-height: 21px;
    color: #070707;
    background-color: #fff;
    font-family: "Gilroy-Medium";
}

.main-container {
    width: 940px;
    margin: 0 auto;
}

header {
    margin-bottom: 104px;
}

nav {
    display: flex;
    justify-content: space-between;
    min-height: 88px;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: #828282;
}

nav a:hover {
    color: red;
}

.active {
    color: #070707;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px auto;
}

h1 {
    font-size: 47px;
    line-height: 59px;
}

h2 {
    font-size: 34px;
    line-height: 42px;
}

.about-me {
    min-height: 506px;
    text-align: center;
    background-color: #f6f6f6;
}

.about-me h2 {
    padding-top: 120px;
    margin-bottom: 18px;
}

.about-me div {
    min-height: 218px;
    margin-bottom: 107px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.skills {
    min-height: 610px;
    text-align: center;
}

.skills h2 {
    padding-top: 91px;
    margin-bottom: 69px;
}

.skills-description {
    margin-bottom: 83px;
}

.skills-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 110px;
}

.skills-container__item {
    height: 206px;
    width: 166px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.skills-container__item > img {
    width: 88px;
    height: 89px;
}

.skills-container__item .figma-img {
    width: 58px;
}

.portfolio {
    background-color: #f6f6f6;
    align-items: center;
    text-align: center;
    padding-bottom: 96px;
}

.portfolio h2 {
    padding-top: 113px;
    margin-bottom: 47px;
}

.portfolio a {
    color: #070707;
}

.portfolio a:hover {
    color: red;
}

.portfolio p::not-last-child {
    margin-bottom: 99px;
}

.portfolio img {
    margin-bottom: 45px;
}

.fashion {
    width: 936px;
    height: 510px;
}

.reebok, .braun {
    width: 936px;
    height: 522px;
}

footer {
    min-height: 622px;
}

.footer-container {
    min-height: 380px;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-container h2 {
    padding-top: 114px;
    margin-bottom: 20px;
}

.footer-description {
    margin-bottom: 30px;
}

.footer__icon-container {
    margin-bottom: 45px;
    width: 342px;
    display: flex;
    justify-content: space-between;
}

.send-message {
    margin-bottom: 86px;
    color: #fff;
    background-color: #000;
    height: 42px;
    width: 180px;
    cursor: pointer;
    border: none;
    border-radius: 20px;
}

.send-message:hover {
    background-color: #626262;
}

.footer-description-end {
    margin-bottom: 123px;
    font-size: 14px;
    line-height: 17px;
}